
<div class="container">
  <h1>Editing topic</h1>
</div>

<%= render "form", topic: @topic %>

<div class="container mt-2">
  <%= link_to "Show this topic", @topic, class: "btn btn-success" %>
</div>
